################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AulaBasica/FileContentIndex/0b3d72c2-f5e6-4be3-a0ac-fce43158ac12.vsidx
